node_modules
.next
out
.env.local
.env.development
.env.production
dist
.DS_Store
.vscode
npm-debug.log
yarn-error.log
.bak
app/crm/leads/new/page.tsx.bak
next.config.js.bak

# env
*.env
.env*


cookies.txt
headers.txt

